.link-green-color a{color:#088A4B;}

.text-green-color{color:#088A4B;}
.bg-green-color{background-color:#088A4B;}

.text-green-light-color{color:#92E3A9;}
.bg-green-light-color{background-color:#92E3A9;}


.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%288, 138, 75, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e" )!important;
}

.navbar-brand:hover{color:#92E3A9;}
.navbar li a:hover{color:#92E3A9;background-color: #088A4B;}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #088A4B !important;
}

